<!DOCTYPE html>
<html ng-app="Project">
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../src/angular-wheel.js"></script>
    <script src="scripts.js"></script>
</head>
<body style="min-height: 1000px; padding-top: 30px;" ng-controller="MyCntrl">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       eve-wheel="changeValue($delta * -1)"
                       ng-model="color.name"
                       ng-init="txtColor = colors[0]">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       eve-wheel-next="value1 = value1 + 1"
                       ng-model="value1"
                       ng-init="value1 = 0">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       eve-wheel-prev="value2 = value2 - 1"
                       ng-model="value2"
                       ng-init="value2 = 0">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control"
                        eve-wheel="changeValue($delta * -1)"
                        ng-model="color"
                        ng-options="c.name for c in colors">
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="number"
                       class="form-control"
                       eve-wheel="valueNumber = valueNumber + $delta"
                       ng-model="valueNumber"
                       ng-init="valueNumber = 0">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <ul class="nav nav-pills nav-stacked"
                    eve-wheel="changeValue($delta * -1)">
                    <li ng-repeat="mycolor in colors"
                        ng-class="getClass($index)">
                        <a href="#{{mycolor.name}}">{{mycolor.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <pre>{{color | json}}</pre>
        </div>
    </div>

</div>

</body>
</html>
